@charset "UTF-8";
.icon {
  display: block;
  width: 1.5rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}
.icon.arrow-fill {
  background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__bottom {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__right {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__white {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__gray {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__dgray {
  width: 1.5rem;
  width: 1.3rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-round {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-back {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-top {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-left {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E");
}
.icon.arrow-first {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-last {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  transform: rotate(180deg);
}
.icon.arrow-prev {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
}
.icon.arrow-next {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
  transform: rotate(180deg);
}
.icon.arrow-right {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-more {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.close {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E");
}
.icon.close_big {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
}

.sitemap-close {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.color-red {
  color: #e63c2e !important;
}

.color-deepgray {
  color: #555555 !important;
}

.color-bgGray {
  color: #f7f9fb;
}

.bgGray {
  background-color: #f7f9fb;
}

.color-black {
  color: #000 !important;
}

.color-fontgray {
  color: #747478;
}

.color-lightgray {
  color: #dddddd;
}

.color-gray {
  color: #78838c;
}

.color-white {
  color: #fff !important;
}

.color-green {
  color: #3f8501 !important;
}

.color-lightgreen {
  color: #00b050 !important;
}

.color-textgreen {
  color: #4e811f !important;
}

.color-blue {
  color: #193988 !important;
}

.color-skyblue {
  color: #00a2ff !important;
}

.color-cloudyBlue {
  color: rgba(0, 70, 144, 0.4) !important;
}

.font-family__sn {
  font-family: "SeoulNamsan";
}

.font-weight__l {
  font-weight: 200;
}

.font-weight__r {
  font-weight: 300;
}

.font-weight__m {
  font-weight: 500 !important;
}

.font-weight__b {
  font-weight: 600 !important;
}

.ml_5 {
  margin-left: 0.5rem;
}

.mr_5 {
  margin-right: 0.5rem;
}

.mt_5 {
  margin-top: 0.5rem;
}

.mt_10 {
  margin-top: 1rem;
}

.ml_10 {
  margin-left: 1rem !important;
}

.mr_10 {
  margin-right: 1rem !important;
}

.mb_10 {
  margin-bottom: 1rem;
}

.mb_15 {
  margin-bottom: 1.5rem;
}

.mt_15 {
  margin-top: 1.5rem;
}

.mr_15 {
  margin-right: 1.5rem !important;
}

.ml_15 {
  margin-left: 1.5rem !important;
}

.mt_20 {
  margin-top: 2rem;
}

.mb_20 {
  margin-bottom: 2rem;
}

.ml_20 {
  margin-left: 2rem !important;
}

.mt_25 {
  margin-top: 2.5rem;
}

.mt_30 {
  margin-top: 3rem !important;
}

.ml_30 {
  margin-left: 3rem !important;
}

.mb_30 {
  margin-bottom: 3rem;
}

.mt_35 {
  margin-top: 3.5rem;
}

.mt_40 {
  margin-top: 4rem !important;
}

.ml_40 {
  margin-left: 4rem;
}

.mt_45 {
  margin-top: 4.5rem;
}

.ml_45 {
  margin-left: 4.5rem;
}

.mt_50 {
  margin-top: 5rem !important;
}

.mb_40 {
  margin-bottom: 4rem;
}

.mb_50 {
  margin-bottom: 5rem !important;
}

.mt_60 {
  margin-top: 6rem;
}

.mt_80 {
  margin-top: 8rem;
}

.mt_90 {
  margin-top: 9rem !important;
}

.mt_100 {
  margin-top: 10rem;
}

.mt_120 {
  margin-top: 12rem;
}

.my_4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx_2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.pl_10 {
  padding-left: 10px;
}

.py_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py_4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pb_100 {
  padding-bottom: 10rem;
}

.font_30 {
  font-size: 3rem;
  line-height: 3.2rem;
}

/* 공통 */
html {
  font-size: 62.5%;
  font-weight: 300;
  letter-spacing: -0.25px;
}
@media (max-height: 936px) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 57.81%;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 48.0769230769%;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 36.7647058824%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 31.25%;
  }
}

.font-noto {
  font-family: "notokr", sans-serif;
}

.font_j {
  font-family: "JSDongkang-bold", "JSDongkang-Regular";
}

p {
  font-size: 1.8rem;
  color: #000000;
  line-height: 3.2rem;
}
p.font-s {
  font-size: 1.8rem;
  line-height: 3.4rem;
}

.font-n {
  font-size: 2rem !important;
}
.font-l {
  font-size: 2.6rem !important;
}
.font-m {
  font-size: 2.4rem !important;
}
.font-s {
  font-size: 1.8rem !important;
  line-height: 3.4rem;
}
.font-xs {
  font-size: 1.6rem !important;
}

.wrap {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.6rem;
  font-weight: 600;
}

h5 {
  font-size: 1.8rem;
}

/* 부트스트랩 초기화 */
body {
  color: #000000;
}

dl, ol, ul {
  margin-bottom: 0;
}

a {
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
}

button {
  background: transparent;
}

p {
  margin-bottom: 0;
}

.skipNavigation {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 100%;
  z-index: 10000;
}
.skipNavigation a {
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 1px;
  margin-bottom: -1px;
  background: #f2f2f2;
  font-size: 0;
  text-align: center;
  font-weight: bold;
  color: #444;
}
.skipNavigation a:hover, .skipNavigation a:focus, .skipNavigation a:active {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  padding: 4px;
  font-size: 15px;
}

.alternate, .hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
}

label {
  margin: 0;
}

.through:nth-child(1) {
  width: 20px;
}

.through:nth-child(2) {
  width: 40px;
}

.through:nth-child(3) {
  width: 60px;
}

.icon {
  display: block;
  width: 1.5rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}
.icon.arrow-fill {
  background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__bottom {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__right {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__white {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__gray {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__dgray {
  width: 1.5rem;
  width: 1.3rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-round {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-back {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-top {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-left {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E");
}
.icon.arrow-first {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-last {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  transform: rotate(180deg);
}
.icon.arrow-prev {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
}
.icon.arrow-next {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
  transform: rotate(180deg);
}
.icon.arrow-right {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-more {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.close {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E");
}
.icon.close_big {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
}

.sitemap-close {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.button-more {
  display: block;
  width: 2.1rem;
  height: 2.1rem;
  background: url(../image/common/icon/icon_more.png);
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  overflow: hidden;
  background: #ffffff;
  width: 100%;
  z-index: 1;
  box-shadow: 0.3rem 0.3rem 1.9rem rgba(0, 0, 0, 0.1);
}
.header-logo a {
  display: inline-block;
  width: 24.8rem;
  height: 5.8rem;
  background: url(../image/common/logo.png) no-repeat center;
  background-size: cover;
}
.header .sitemap.mobile {
  flex: none;
}
.header .sitemap button span {
  background: #000000;
}
.header.open {
  background: #ffffff;
  box-shadow: 0.3rem 0.3rem 1.5rem rgba(0, 0, 0, 0.13);
}
.header.open .logo a {
  background: url(../image/common/logo.png) !important;
  background-size: cover !important;
}
.header.open .gnb_wrap {
  border-bottom: 1px solid #ededed;
}
.header.open .gnb-menu > li > a {
  color: #000000 !important;
  text-shadow: none !important;
}
.header.open .sitemap button span {
  background: #000000 !important;
}
.header .sitemap button {
  width: 3.4rem;
  height: 2.8rem;
  padding: 0;
  background: none;
  margin-left: 2.2rem;
}
.header .sitemap button span {
  width: 100%;
  height: 0.4rem;
  background: #ffffff;
}
.header .sitemap button span:last-child {
  width: 2rem;
  margin-left: auto;
}
.header .sitemap-header .logo {
  display: none;
}
.header .sitemap-menu {
  display: none;
}
.header .sitemap.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 2;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.14);
}
.header .sitemap.open > .sitemap-button {
  display: none;
}
.header .sitemap.open .sitemap-menu {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
}
.header .sitemap.open .sitemap-menu .sitemap-button {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 10rem;
  padding: 0 3.5rem;
}
.header .sitemap.open .sitemap-menu .sitemap-button button {
  position: relative;
  margin-left: auto;
  z-index: 3;
}
.header .sitemap.open .sitemap-menu .sitemap-button button span {
  position: absolute;
  top: 50%;
  background: #000000;
}
.header .sitemap.open .sitemap-menu .sitemap-button button span:first-child {
  transform: rotate(45deg);
}
.header .sitemap.open .sitemap-menu .sitemap-button button span:nth-child(2) {
  display: none;
}
.header .sitemap.open .sitemap-menu .sitemap-button button span:last-child {
  width: 100%;
  transform: rotate(-45deg);
}
.header .sitemap.open .sitemap-menu__inner {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 140rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header .sitemap.open .sitemap-menu__inner > ul {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
}
.header .sitemap.open .sitemap-menu__inner > ul > li {
  flex: 1;
  padding: 0 4rem;
}
.header .sitemap.open .sitemap-menu__inner > ul > li > a {
  display: inline-block;
  margin-bottom: 3rem;
  font-size: 2.4rem;
  line-height: 100%;
}
.header .sitemap.open .sitemap-menu__inner > ul > li > a::after {
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 0;
  visibility: hidden;
  background: rgba(63, 133, 1, 0.25);
  transition: all 0.2s;
  content: "";
}
.header .sitemap.open .sitemap-menu__inner > ul > li.active > a {
  position: relative;
}
.header .sitemap.open .sitemap-menu__inner > ul > li.active > a::after {
  width: 100%;
  height: 1.7rem;
  visibility: visible;
}
.header .sitemap.open .sitemap-menu__inner > ul > li + li::before {
  content: "";
  position: absolute;
  top: 0;
  margin-left: -4rem;
  height: 100%;
  width: 1px;
  background-color: #DFE0E8;
}
.header .sitemap.open .sitemap-menu .depth2 ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.header .sitemap.open .sitemap-menu .depth2 ul li a {
  font-size: 1.8rem;
  color: #5E6074;
  line-height: 4.5rem;
}
.header .sitemap.open .sitemap-menu .depth2 ul li a:hover {
  color: #3f8501;
}

.gnb {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  flex: 1;
  transition: all 0.2s;
}
.gnb_wrap {
  background: #ffffff;
}
.gnb_wrap .inner {
  width: 100%;
  padding: 0 3.5rem;
}
.gnb_wrap {
  height: 11rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.gnb_wrap .inner {
  width: 100%;
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
}
.gnb ul {
  position: absolute;
  left: 50%;
  width: auto;
  justify-content: center;
  margin: 0 auto;
  transform: translateX(-50%);
}
.gnb ul li {
  font-size: 2.4rem;
  text-align: center;
}
.gnb ul li a {
  color: #000000;
}
.gnb .button-close-wrap {
  display: none;
}
.gnb-menu > li {
  position: relative;
}
.gnb-menu > li.on::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000000;
  content: "";
}
.gnb-menu > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 11rem;
  font-size: 2.2rem;
  font-weight: 600;
}
.gnb-menu > li > a + .depth2 {
  position: absolute;
  top: 10rem;
  width: 100%;
}
.gnb-menu .depth2 ul {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding-top: 3rem;
}
.gnb-menu .depth2 ul::before {
  position: absolute;
  top: 3rem;
  width: 1px;
  height: 32rem;
  background: #ededed;
  content: "";
}
.gnb-menu .depth2 ul li {
  height: 4.5rem;
}
.gnb-menu .depth2 ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000000;
}
.gnb-menu .depth2 ul li a:hover {
  color: #3f8501;
}

.fp-viewing-firstPage .header.main .gnb_wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.fp-viewing-firstPage header .gnb_wrap {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.fp-viewing-firstPage header .sitemap button span {
  background: #ffffff;
}

body.overflow-hidden #fp-nav {
  display: none;
}

/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/
@media screen and (max-width: 1730px) {
  header .gnb ul {
    position: relative;
  }
  header .gnb .gnb-menu > li > a {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1500px) {
  header .gnb > ul > li > a {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 1400px) {
  header .gnb {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
  header .gnb > ul {
    position: relative;
    width: 90%;
  }
  header .gnb > ul > li {
    flex: 1;
  }
  header .gnb > ul > li > a {
    padding: 0rem;
  }
}
@media screen and (max-width: 1024px) {
  header .gnb_wrap {
    padding: 0 3rem;
  }
  header .gnb_wrap .inner {
    padding: 0;
  }
  header.main .gnb_wrap .inner {
    padding: 0;
  }
  header .logo a {
    width: 22.2rem;
    height: 4rem;
  }
  #fp-nav {
    display: none !important;
  }
}
@media screen and (max-width: 720px) {
  .sns.pc {
    display: none;
  }
  header {
    overflow: visible;
  }
  header.main {
    height: 10rem !important;
  }
  header .sitemap.open {
    -ms-touch-action: none;
    touch-action: none;
  }
  header .sitemap.open .sitemap-header {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 10rem;
    padding: 0 3rem;
    flex: none;
  }
  header .sitemap.open .sitemap-header::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    content: "";
  }
  header .sitemap.open .sitemap-header .logo {
    display: block;
  }
  header .sitemap.open .sitemap-header .logo a {
    background: url(../image/common/logo.png) no-repeat center;
    background-size: cover;
  }
  header .sitemap.open .sitemap-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    -ms-touch-action: none;
    touch-action: none;
    overflow: hidden;
  }
  header .sitemap.open .sitemap-menu .sitemap-button {
    position: fixed;
    z-index: 3;
    padding-right: 3rem;
  }
  header .sitemap.open .sitemap-menu__inner > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin-top: 0rem;
    padding-top: 0rem;
    background: #4e811f;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li {
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    padding: 0rem;
    flex: none;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    width: 28%;
    height: 15rem;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 2.8rem;
    background: #4e811f;
    color: #ffffff;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 {
    position: fixed;
    top: 10rem;
    left: 28%;
    width: 72%;
    height: calc(100vh - 10rem);
    background: #ffffff;
    z-index: 1;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 ul {
    padding: 2rem 20px 2rem 20px;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 li + li {
    border-top: 1px solid #e1e1e1;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a + .depth2 a {
    display: inline-block;
    width: 100%;
    padding: 4.1rem 0;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 100%;
    color: #000000;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a::after {
    display: none;
  }
  header .sitemap.open .sitemap-menu__inner > ul > li > a::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.3);
    z-index: 0;
    content: "";
  }
  header .sitemap button {
    margin-left: 1rem;
  }
  header .logo a {
    width: 19rem;
    height: 3.5rem;
  }
}
/* footer */
/* main footer */
.section .footer__inner {
  margin-top: 0;
}

.footer {
  background: #131a2b;
}
.footer__inner {
  max-width: 140rem;
  margin: 0 auto;
  margin-top: 14rem;
  padding: 4.5rem 0;
}
.footer-img {
  margin-right: 6rem;
}
.footer-img a {
  display: inline-block;
  width: 24.8rem;
  height: 5.8rem;
  background: url(../image/common/footer-logo.png) no-repeat center;
  background-size: cover;
}
.footer-txt * {
  line-height: 2.4rem;
  font-size: 1.5rem;
  font-weight: 200;
  color: #ffffff;
}
.footer-txt span {
  display: inline-block;
  margin-right: 1rem;
}

/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/
@media screen and (max-width: 720px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .footer-img {
    margin-right: 0;
  }
  .footer-txt {
    margin-top: 3rem;
    text-align: center;
  }
}