@charset "UTF-8";
.icon {
  display: block;
  width: 1.5rem;
  height: 1.3rem;
  background-repeat: no-repeat;
}
.icon.arrow-fill {
  background-image: url("data:image/svg+xml;charset=utf8,  %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23ff0077' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__bottom {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__right {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E");
}
.icon.arrow-fill__white {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__gray {
  width: 2.1rem;
  width: 1.5rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-fill__dgray {
  width: 1.5rem;
  width: 1.3rem;
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.icon.arrow-round {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-back {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-top {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-left {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E");
}
.icon.arrow-first {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-last {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  transform: rotate(180deg);
}
.icon.arrow-prev {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
}
.icon.arrow-next {
  background-image: url("data:image/svg+xml;charset=utf8, ");
  background-size: cover;
  transform: rotate(180deg);
}
.icon.arrow-right {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.arrow-more {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}
.icon.close {
  width: 13px;
  height: 13px;
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E");
}
.icon.close_big {
  background-image: url("data:image/svg+xml;charset=utf8, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23000' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E");
}

.sitemap-close {
  background-image: url("data:image/svg+xml;charset=utf8, ");
}

.color-red {
  color: #e63c2e !important;
}

.color-deepgray {
  color: #555555 !important;
}

.color-bgGray {
  color: #f7f9fb;
}

.bgGray {
  background-color: #f7f9fb;
}

.color-black {
  color: #000 !important;
}

.color-fontgray {
  color: #747478;
}

.color-lightgray {
  color: #dddddd;
}

.color-gray {
  color: #78838c;
}

.color-white {
  color: #fff !important;
}

.color-green {
  color: #3f8501 !important;
}

.color-lightgreen {
  color: #00b050 !important;
}

.color-textgreen {
  color: #4e811f !important;
}

.color-blue {
  color: #193988 !important;
}

.color-skyblue {
  color: #00a2ff !important;
}

.color-cloudyBlue {
  color: rgba(0, 70, 144, 0.4) !important;
}

.font-family__sn {
  font-family: "SeoulNamsan";
}

.font-weight__l {
  font-weight: 200;
}

.font-weight__r {
  font-weight: 300;
}

.font-weight__m {
  font-weight: 500 !important;
}

.font-weight__b {
  font-weight: 600 !important;
}

.ml_5 {
  margin-left: 0.5rem;
}

.mr_5 {
  margin-right: 0.5rem;
}

.mt_5 {
  margin-top: 0.5rem;
}

.mt_10 {
  margin-top: 1rem;
}

.ml_10 {
  margin-left: 1rem !important;
}

.mr_10 {
  margin-right: 1rem !important;
}

.mb_10 {
  margin-bottom: 1rem;
}

.mb_15 {
  margin-bottom: 1.5rem;
}

.mt_15 {
  margin-top: 1.5rem;
}

.mr_15 {
  margin-right: 1.5rem !important;
}

.ml_15 {
  margin-left: 1.5rem !important;
}

.mt_20 {
  margin-top: 2rem;
}

.mb_20 {
  margin-bottom: 2rem;
}

.ml_20 {
  margin-left: 2rem !important;
}

.mt_25 {
  margin-top: 2.5rem;
}

.mt_30 {
  margin-top: 3rem !important;
}

.ml_30 {
  margin-left: 3rem !important;
}

.mb_30 {
  margin-bottom: 3rem;
}

.mt_35 {
  margin-top: 3.5rem;
}

.mt_40 {
  margin-top: 4rem !important;
}

.ml_40 {
  margin-left: 4rem;
}

.mt_45 {
  margin-top: 4.5rem;
}

.ml_45 {
  margin-left: 4.5rem;
}

.mt_50 {
  margin-top: 5rem !important;
}

.mb_40 {
  margin-bottom: 4rem;
}

.mb_50 {
  margin-bottom: 5rem !important;
}

.mt_60 {
  margin-top: 6rem;
}

.mt_80 {
  margin-top: 8rem;
}

.mt_90 {
  margin-top: 9rem !important;
}

.mt_100 {
  margin-top: 10rem;
}

.mt_120 {
  margin-top: 12rem;
}

.my_4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx_2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.pl_10 {
  padding-left: 10px;
}

.py_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px_2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py_4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pb_100 {
  padding-bottom: 10rem;
}

.font_30 {
  font-size: 3rem;
  line-height: 3.2rem;
}

/* 공통 */
html {
  font-size: 62.5%;
  font-weight: 300;
  letter-spacing: -0.25px;
}
@media (max-height: 936px) {
  html {
    font-size: 52.5%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 57.81%;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 48.0769230769%;
  }
}
@media (max-width: 540px) {
  html {
    font-size: 36.7647058824%;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 31.25%;
  }
}

.font-noto {
  font-family: "notokr", sans-serif;
}

.font_j {
  font-family: "JSDongkang-bold", "JSDongkang-Regular";
}

p {
  font-size: 1.8rem;
  color: #000000;
  line-height: 3.2rem;
}
p.font-s {
  font-size: 1.8rem;
  line-height: 3.4rem;
}

.font-n {
  font-size: 2rem !important;
}
.font-l {
  font-size: 2.6rem !important;
}
.font-m {
  font-size: 2.4rem !important;
}
.font-s {
  font-size: 1.8rem !important;
  line-height: 3.4rem;
}
.font-xs {
  font-size: 1.6rem !important;
}

.wrap {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-size: 5.4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.6rem;
  font-weight: 600;
}

h5 {
  font-size: 1.8rem;
}

/* 부트스트랩 초기화 */
body {
  color: #000000;
}

dl, ol, ul {
  margin-bottom: 0;
}

a {
  color: #000;
}

button {
  background: transparent;
}

p {
  margin-bottom: 0;
}

.skipNavigation {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 100%;
  z-index: 10000;
}
.skipNavigation a {
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  width: 100%;
  height: 1px;
  margin-bottom: -1px;
  background: #f2f2f2;
  font-size: 0;
  text-align: center;
  font-weight: bold;
  color: #444;
}
.skipNavigation a:hover, .skipNavigation a:focus, .skipNavigation a:active {
  position: absolute;
  left: 0;
  top: 0;
  height: 30px;
  padding: 4px;
  font-size: 15px;
}

.alternate, .hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  text-indent: -9999px;
}

label {
  margin: 0;
}

.through:nth-child(1) {
  width: 20px;
}

.through:nth-child(2) {
  width: 40px;
}

.through:nth-child(3) {
  width: 60px;
}

/* 서브 비주얼 */
.sub-visual__inner {
  height: 43.2rem;
  background-image: url(../image/sub/sub-visual01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sub-visual__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: calc(100% - 3.5rem);
  padding-top: 10rem;
}
.sub-visual__text h1 {
  margin-bottom: 0;
  font-size: 4.8rem;
  color: #ffffff;
}

.breadcrumb {
  background: #f6f8fa;
}
.breadcrumb__inner {
  width: 140rem;
  height: 6rem;
  margin: 0 auto;
  background: transparent;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  width: 0.6rem;
  height: 1.1rem;
  margin: 0 1.1rem;
  background: url(../image/sub/icon-breadcrumb.png) no-repeat center;
  content: "";
}
.breadcrumb-link {
  display: inline-block;
  font-size: 1.6rem;
}
.breadcrumb-link__home {
  width: 1.3rem;
  height: 1.4rem;
  background: url(../image/sub/icon-home.png);
}
.breadcrumb-link__depth2 {
  font-weight: 500;
}

/* 콘텐츠 */
.contents__inner {
  padding-top: 11rem;
}
.contents-flex__inner {
  display: flex;
  max-width: 140rem;
  margin: 0 auto;
  padding-top: 5rem;
}
.contents-core {
  flex: 1;
}
.contents-core__title {
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 600;
}

.lnb__inner {
  width: 26rem;
  margin-right: 4rem;
}
.lnb-title {
  margin-bottom: 3rem;
  font-size: 2.8rem;
  font-weight: 600;
  color: #0936a5;
}
.lnb-list {
  border: 1px solid #d1d4dd;
}
.lnb-item {
  height: 7rem;
}
.lnb-item + .lnb-item {
  border-top: 1px solid #d1d4dd;
}
.lnb-item.is-active .lnb-link {
  background-color: #193a89;
  color: #ffffff;
}
.lnb-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 2.5rem;
  font-size: 1.8rem;
}

.total-count {
  font-size: 1.6rem;
}
.total-num {
  color: #4571e9;
  font-size: 1.6rem;
  font-weight: 600;
}

.search-box {
  display: flex;
}
.search-box__input {
  position: relative;
  width: 30.9rem;
  height: 4.5rem;
  border-radius: 0.3rem;
  border: 1px solid #dbdfe8;
}
.search-box__input .ui-input {
  width: calc(100% - 4.8rem);
  height: 100%;
  border: 0;
}
.search-box__input .button-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 4.8rem;
  height: 100%;
  background: url(../image/sub/icon-search.png) no-repeat center;
}
.search-box__right {
  margin-left: 1rem;
}

/* 인사말 */
.greeting-top {
  display: flex;
  align-items: center;
  height: 20rem;
  background: #193e9a;
}
.greeting-top__text {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 6.5rem 0;
  font-size: 2.4rem;
  color: #bed1ff;
  line-height: 3.6rem;
  text-align: center;
}
.greeting-top__text strong {
  font-size: 2.4rem;
  color: #ffffff;
}
.greeting-top__text::before, .greeting-top__text::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.greeting-top__text::before {
  left: -13.5rem;
  display: inline-block;
  width: 6.2rem;
  height: 4.4rem;
  background: url(../image/sub/icon-greeting__before.png);
  content: "";
}
.greeting-top__text::after {
  right: -13.5rem;
  display: inline-block;
  width: 6.2rem;
  height: 4.4rem;
  background: url(../image/sub/icon-greeting.png);
  content: "";
}
.greeting-box {
  margin-top: 4rem;
}
.greeting-box__tit {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
  color: #333333;
}
.greeting-box__tit--color-blue {
  color: #193988;
}
.greeting-box__txt {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #333333;
}
.greeting-name {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.greeting-name__text {
  margin-right: 2rem;
  font-size: 2rem;
}

/* 조직도 */
.sub-item {
  margin-top: 5rem;
}
.sub-item__tit {
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
  font-weight: 500;
}
.sub-item__cont-tit, .sub-item__cont-txt {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #333333;
  word-break: keep-all;
}
.sub-item__cont-tit {
  font-weight: 500;
}

.counselor-wrap {
  display: flex;
}
.counselor-box {
  flex: 1;
  border: 1px solid #dce8f3;
  border-radius: 0.3rem;
}
.counselor-box + .counselor-box {
  margin-left: 1rem;
}
.counselor-name {
  position: relative;
  padding: 2.5rem 1.8rem;
  font-size: 1.6rem;
}
.counselor-name::before {
  position: absolute;
  left: 2rem;
  bottom: 0;
  width: calc(100% - 4rem);
  height: 1px;
  background: #e9ebf2;
  content: "";
}
.counselor-name em {
  font-size: 2rem;
  font-weight: 600;
  color: #193a89;
}
.counselor-num {
  display: flex;
  padding: 2rem 1.8rem 2.5rem 1.8rem;
  border-bottom: 0.5rem solid #f8f9fb;
}
.counselor-num__call, .counselor-num__mail {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: #333333;
}
.counselor-num__call a, .counselor-num__mail a {
  font-size: 1.6rem;
  color: #333333;
}
.counselor-num__call {
  margin-right: 2rem;
}
.counselor-num__call::before {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 1rem;
  background: url(../image/sub/icon-call.png);
  content: "";
}
.counselor-num__mail::before {
  display: inline-block;
  width: 1.7rem;
  height: 1.4rem;
  margin-right: 1rem;
  background: url(../image/sub/icon-mail.png);
  content: "";
}
.counselor-career {
  padding: 2.5rem 2rem;
}
.counselor-career__tit {
  font-size: 1.6rem;
  font-weight: 500;
}
.counselor-career__li {
  position: relative;
  padding-left: 0.7rem;
  font-size: 1.6rem;
  color: #333333;
  line-height: 2.8rem;
}
.counselor-career__li::before {
  position: absolute;
  top: 1.3rem;
  left: 0;
  width: 0.2rem;
  height: 0.2rem;
  background: #333333;
  content: "";
}

/*==========================================================================================================================================================================================================================================================================*/
@media screen and (max-width: 1024px) {
  .lnb {
    display: none;
  }
}