/* footer */ 

/* main footer */ 
.section{
    .footer{
        &__inner{
            margin-top: 0;
        }
    }
}

.footer{
    &-top{
        background: #1b3b86;
        &__inner{
            display: flex;
            align-items: center;
            max-width: 140rem;
            height: 5.1rem;
            margin: 0 auto;
        }
    }
    &-bottom{
        background: #131a2b;
        &__inner{
            display: flex;
            max-width: 140rem;
            height: auto;
            margin: 0 auto;
            padding: 4.3rem 0 5rem 0;
        }
    }
    &-link{
        font-size: 1.6rem;
        color:#8f9fc5;
        &__privacy{
            font-weight: 500;
            color: #aecbff;
        }
        &+&{
            display: inline-block;
            margin-left: 3.5rem;
        }
    }
    
    &-logo{
        margin-right: 6rem;
        a{
            display: inline-block;
            width:24.8rem;
            height:5.8rem;
            background: url(../image/common/footer-logo.png) no-repeat center;
            background-size: cover;
        }
    }
    &-txt{
        &__info{
            &--li{
                display: inline-block;
                font-size: 1.6rem;
                color:#7a7c82;
                vertical-align: middle;
                span{
                    font-size: 1.6rem;
                    padding-right: .8rem;
                    font-weight: 500;
                    color:#b6bdcd;
                }
                &+&{
                    &::before{
                        display: inline-block;
                        //margin: 0 1rem;
                        color:#37383a;
                        vertical-align: middle;
                        content: 'ã…£';
                    }
                }
            }
            &--bottom{
                margin-top: 1rem;
            }
        }
        &__copyright{
            margin-top: 2rem;
            font-size: 1.5rem;
            color:#a3a6ab;
            opacity: .5;
        }
    }
    &-sns{
        display: flex;
        align-items: center;
        margin-left: auto;
        &__link{
            display: block;
            width: 4rem;
            height: 4rem;
            background-size: cover;
            &--facebook{
                background-image: url(../image/common/footer-sns.png);
                background-size: 4rem;
            }
        }
    }
    &-site{
        display: flex;
        align-items: center;
        margin-left: 3rem;
        &__select{
            width: 23.6rem;
            height: 5.8rem;
            padding: 0 3rem;
            text-indent: 0;
            font-size: 1.6rem;
            color:#bbbbbb;
            border: 1px solid #5a5f6b;
            background: transparent url(../image/common/icon/footer-select.png) no-repeat center right 3rem;
        }
    }
    &-sub{
        .footer{
            &__inner{
                margin-top: 10rem;
            }
            &-top{
                background: #f0f0f2;
            }
            &-link{
                color:#000000;
                &__privacy{
                    color: #193988;
                }
            }
            &-bottom{
                background: #ffffff;
            }
            &-logo{
                a{
                    background-image: url(../image/common/footer-logo__sub.png);
                }
            }
            &-sns{
                &__link--facebook{
                    background-image: url(../image/common/footer-sns__sub.png);
                }
            }
            &-site{
                &__select{
                    color:#747478;
                    border-color:#ccccce;
                    background: url(../image/common/icon/footer-select__sub.png) no-repeat center right 3rem;
                }
            }
            &-text{
                &__info{
                    &--li{
                        color:#747478;
                        span{
                            color:#b4b4b4;
                        }
                    }
                }
            }
            &-txt{
                &__copyright{
                    color:#a4a4a4;
                }
            }
        }
        
    }
}


/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/ 

@media screen and(max-width:720px){
    .footer{
        &-bottom__inner{
            flex-wrap: wrap;
        }
        &-txt{
            width:100%;
        }
    }
}