@import "./svg";
@import "./mixin";

.button-more{
    display: block;
    width: 2.1rem;
    height: 2.1rem;
    background: url(../image/common/icon/icon_more.png);
}

.ui-button{
    height:4.5rem;
    padding: 0 3rem;
    margin: 0 .5rem;
    font-size: 1.6rem;
    text-align: center;
    border-radius: .3rem;
    &s{
        display: flex;
        justify-content: center;    
        width:100%;
        margin: 0 -.5rem;
        &__right{
            justify-content: flex-end;
        }
    }
    &__width{
        &-m{
            width: 14.1rem;
        }
    }
    &__bg{
        &-blue{
            background: #193a89;
            color:#ffffff;
        }
        &-gray{
            background-color: #f0f0f2;
        }
    }
    &__border{
        &-gray{
            border: 1px solid #dbdfe8;
        }
    }
}