@import "./svg";
@import "./mixin";

// .form{
//     &-input{
        
//     }
// }

.ui{
    &-input{
        border-radius: .3rem;
        input{
            border-radius: .3rem;
            border:1px solid #dbdfe8;
            &::placeholder{
                font-size: 1.6rem;
                color:#747478;
            }
        }
        &__width{
            &-100{
                width: 100%;
            }
            &-225{
                width: 22.5rem;
            }
        }
        &.is-inputed {
            background-color: #f9fbfd;
            border-color: #dbdfe8;
        }
    }
    &-select{
        width:13.7rem;
        background-image: url(../image/common/icon/icon-select.png) ;
        background-repeat: no-repeat;
        background-position: right 1.5rem center;
        background-size: 1.7rem 1rem;
        border-radius: .3rem;
        border:1px solid #dbdfe8;
        &__width{
            &-225{
                width: 22.5rem;
            }
        }
        &.is-inputed {
            background-color: #f9fbfd;
            border-color: #dbdfe8;
        }
    }
    &-textarea{
        width:100%;
        height: 50rem;
        padding:1.5rem;
        border:1px solid #dbdfe8;
        border-radius: 3px;
        resize: none;
    }
    &-radio, &-checkbox{
        &__inner{
            margin: -.5rem;
        }
        &__item{
            display: inline-block;
        }
        &-object{
            position: relative;
            display: block;
            width: 1.9rem;
            height: 1.9rem;
            /* margin-top: -1px; */
            border: solid 1px #dbdfe8;
            box-sizing: border-box;
            border-radius: .3rem;
            background: no-repeat 50% 50% #fff;
            -webkit-box-flex: 0;
            -ms-flex: none;
            flex: none;
            vertical-align: top;
        }
        &:focus{
            +.ui-label .ui-checkbox-object,
            +.ui-label .ui-radio-object{
                outline-width: 1px;
                outline-style: dotted;
            }
        }
        &-input{
            position: absolute;
            z-index: -1;
            opacity: 0;
            &:checked{
                &+.ui-label .ui-radio-object{
                    border:5px solid #4568a9;
                }
            }
        }
    }
    
    &-checkbox{
        &-block{
            display: inline-flex;
            align-items: center;
            padding: .5rem;
            .ui{
                &-checkbox{
                    position: absolute;
                    z-index: -1;
                    opacity: 0;
                    border: 0;
                    &-object{
                        display: inline-block;
                    }
                }
                
                &-label{
                    margin: 0;
                }
            }
        }
        &:checked+.ui-checkbox-object,
        &:checked+.ui-label .ui-checkbox-object{
            border-color: #0737ba;
            background-color: #4571e9;
            background-image: url('../image/common/icon/icon-check.png');
            background-size: 1.1rem .7rem;
        }
    }
    &-label {
        @include d-flex;
        @include align-center;
        font-size: 1.4rem;
        line-height: normal;
        cursor: pointer;
        &__text{
            margin-left: 1rem;
            vertical-align: middle;
            font-size: 1.4rem;
        }
    }
}

.filebox {
    &+&{
        margin-top: .5rem;
    }
    &-wrap{
        margin: -0.5rem -0.5rem;
    }
    &__inner{
        @include display-flex;
        @include align-center;
    }
    input[type="file"] { 
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }
    label {
        @include d-flex;
        width: 10.7rem;
        height: 4.5rem;
        margin-left: .5rem;
        border-radius: .3rem;
        font-size: 1.6rem;
        cursor: pointer;
        box-sizing: border-box;
        flex: none;
        color:#ffffff;
        background-color: #999a9d;
    }
    .upload-name {
        display: inline-block;
        width:53rem;
        font-size: 1.6rem;
        line-height: normal;
        vertical-align: middle;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        opacity: 1;
        background: #ffffff;
        &::placeholder{
            color:#747478;
        }
        &.is-inputed {
            background: #f9fbfd;
            border-color: #dbdfe8;
        }
    }
    &-button{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: .3rem;
        border: solid 1px #dbdfe8;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        &__plus{
            margin-left: 1rem;
            background-image: url(../image/common/icon/icon-plus__black.png);
        }
        &__minus{
            margin-left: .5rem;
            background-image: url(../image/common/icon/icon-minus__black.png);
        }
    }
}
