@import "./svg";
@import "./mixin";

.form{
    &-select{
        select{
            width:13.7rem;
            background-image: url(../image/common/icon/icon-select.png) ;
            background-repeat: no-repeat;
            background-position: right 1.5rem center;
            background-size: 1.7rem 1rem;
            border-radius: .3rem;
            border:1px solid #dbdfe8;
        }
        
    }
    &-input{
        input{
            border-radius: .3rem;
            border:1px solid #dbdfe8;
            &::placeholder{
                font-size: 1.6rem;
                color:#747478;
            }
        }
    }
}