@import "./ui-common";


/* 서브 비주얼 */
.sub-visual{
    &__inner{
        height: 43.2rem;
        background-image: url(../image/sub/sub-visual01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    &__text{
        @include d-flex;
        height: calc(100% - 3.5rem);
        padding-top:10rem;
        h1{    
            margin-bottom:0;
            font-size:4.8rem;
            color:#ffffff;
        }
    }
}
.breadcrumb{
    margin: 0;
    padding:0;
    background: none;
    border-radius: 0;
    &__inner{
        width: 140rem;
        height:7rem;
        margin: 0 auto;
        background: #ffffff;
        box-shadow: .3rem .3rem 1.5rem rgba(0,0,0,0.13);
        >div{
            border-right:1px solid #eaeaea;
        }
        .depth{
            &.home{
                width:7rem;
                a{
                    display: block;
                    width:100%;
                    height:100%;
                    background: url(../image/sub/icon-home.png) no-repeat center;
                    background-size: 1.6rem 1.5rem;
                }
            }
            &1, &2{
                width:24rem;
                a{
                    @include display-flex;
                    @include align-center;
                    width:100%;
                    font: {
                        size:1.8rem;
                        weight:400;
                    }
                    color:#555555;
                    i{
                        width:1.4rem;
                        height:.8rem;
                        margin-left: auto;
                        background-size: cover !important;
                    }
                    &.active{
                        i{
                            transform: rotate(180deg);
                        }
                    }
                }
                
            }
            &1{
                >a{
                    height:100%;
                    padding:0 2rem;
                    i{
                        background: url(../image/sub/icon-depth1.png);
                    }
                }
                &.second{
                    >a{
                        color:#3f8501;
                        font-weight: 500;
                        i{
                            background: url(../image/sub/icon-depth1__green.png);
                        }
                    }
                }
            }
            &2{
                display: none;
                position: relative;
                z-index: 2;
                ul{
                    border:1px solid #eaeaea;
                    li{
                        background: #ffffff;
                        &+li{
                            border-top:1px solid #eaeaea;
                        }
                        a{
                            height: 6rem;
                            padding: 0 2rem;
                        }
                    }
                }
            }
        }
    }
}

/* 콘텐츠 */
.sub{
    &-content{
        &__inner{
            max-width:140rem;
            margin: 0 auto;
            padding-top:10.5rem;
        }
    }
    &-title{
        margin-bottom: 5rem;
        font: {
            size: 4.3rem;
            weight: 600;
        }
        text-align: center;
        &2{
            margin-bottom: 3rem;
            font : {
                size:2.4rem;
                weight:500;
            }
            color:$color-green;
        }
    }
}

.search{
    &-box{
        margin-bottom: 2rem;
        .form-select{
            height: 4.5rem;
            select{
                width:14rem;
                height: 100%;
                padding-left:2rem;
                padding-right:2rem;
                border:1px solid #cccccc;
                font: {
                    size: 1.6rem;
                    weight:500;
                }
                text-indent: 0rem;
                background: url(../image/sub/icon-arrowSelect.png) no-repeat center right 2rem;
                background-size: 1rem .7rem;
                line-height: 100%;
                
            }
        }
        .form-search{
            position: relative;
            width: 27.5rem;
            height: 4.5rem;
            border:1px solid #cccccc;
            input{
                width: calc(100% - 4.5rem);
                height:100%;
                padding-left:2rem;
                border:none;
                font-size:1.6rem;
                color:#777777;  
                text-indent: 0;
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                width: 4.5rem;
                height: 100%;
                border-left: 1px solid #cccccc;
                background: url(../image/sub/icon-search.png) no-repeat center;
                background-size: 2rem;
            }
        }
    }
}

.list{
    &-top{
        margin-bottom: 2rem;
        // &+.list-gallery{
        //     ul{
        //         margin-top: 0rem;
        //     }
        // }
    }
    &-gallery{
        ul{
            @include display-flex;
            @include flex-wrap;
            margin: -3rem -1rem;
            li{
                width:calc(100% / 4);
                a{
                    display: block;
                    margin:3rem 1rem;
                }
            }
        }
        .img-wrap{
            @include d-flex;
            max-height: 23.3rem;
            height: 23.3rem;
            overflow: hidden;
            img{
                max-width:100%;
                max-height:100%;
            }
        }
        .title{
            margin-top: 1.5rem;
            @include text-overflow_tit;
            height:2.5rem;
            font: {
                size:2rem;
                weight:500;
            }
            color:#000000;
            line-height: 2.8rem;
        }
        .date{
            margin-top: 2.5rem;
            font-size:1.6rem;
            color:#555555;
            line-height: 100%;
        }
        // &+div{
        //     margin-top: 4rem
        // }
    }
    &-bottom{
        &__inner{
            position: relative;
            margin-top: 5rem;
            .button{
                &-wrap{
                    position: absolute;
                    top: 0;
                    right: 0;
                    button{
                        width:11.3rem;
                        height:4.3rem;
                        background:#3f8501;
                        color:#ffffff;
                        font-size:1.6rem;
                    }
                }
            }
        }
    }
    &-dot{
        li{
            position:relative;
            padding-left: 1rem;
            line-height: 3.2rem;
            font-size: 1.8rem;
            &::before{
                display:block;
                position:absolute;
                top:1.5rem;
                left:.3rem;
                width:2px;
                height:2px;
                background: #000000;
                content:""
            }
            ul{
                &.list{
                    &-dashed{
                        li{
                            &::before{
                                top: 1.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.paging{
    &__inner{
        //margin: 0 -.15rem;
        a{
            @include d-flex;
            width: 4.3rem;
            height: 4.3rem;
            margin: 0 .25rem;
            font-size:1.5rem;
            color:#888888;
            &.first, &.prev, &.next, &.last{
                border:1px solid #aaaaaa;
                background-repeat: no-repeat;
                background-position: center;
                //margin: 0 .15rem;
            }
            &.first{
                background-image: icon(paging-first);
                background-size: 2rem 1rem;
                margin: 0 .15rem;
            }
            &.prev{
                background-image: icon(paging-prev);
                background-size: .9rem 1rem;
                margin-left:.15rem;
            }
            &.next{
                background-image: icon(paging-prev);
                background-size: .9rem 1rem;
                transform: rotate(180deg);
                margin: 0 .15rem;
            }
            &.last{
                background-image: icon(paging-first);
                background-size: 2rem 1rem;
                transform: rotate(180deg);
                margin-left:.15rem;
            } 
            &.on{
                font: {
                    size:1.7rem;
                    weight: 500;
                }
                color:#3f8501;
                border:.3rem solid #3f8501;
            }  
        }
    }
}

.table{
    &-wrap{
        margin-bottom:0;
        color:#000000;
        border-top:1px solid #000000;
        table{
            margin-bottom: 0;
        }
        thead{
            background: #f4f6f1;
            tr{
                border-bottom:1px solid #b7b7b7;
                th{
                    height: 6rem;
                    font-weight: 500;
                }
            }
        }
        tr{
            th, td{
                font-size: 1.8rem;
                border:none;
                text-align: center;
                vertical-align: middle;
            }        
            td{
                &.num{
                    .badge{
                        @include d-flex;
                        width:5.1rem;
                        height:2.7rem;
                        padding:0;
                        margin: 0 auto;
                        font : {
                            size:1.6rem;
                            weight:300;
                        }
                        color:#ffffff;
                        background: #3f8501;
                        transition: none;
                        border-radius: .3rem;
                    }
                }
                &.tit{
                    text-align: left;
                    a{
                        @include text-overflow;
                        padding-right: 2.3rem;
                        font-size: 1.8rem;
                        &.lock{
                            position: relative;
                            &::before{
                                display: inline-block;
                                position:absolute;
                                top: 50%;
                                right: 0;
                                width: 1.3rem;
                                height: 1.6rem;
                                background: url(../image/sub/icon-lock.png) no-repeat center;
                                transform: translateY(-50%);
                                content: "";
                            }
                        }
                    }
                    .tit__inner{
                        @include display-flex;
                        @include align-center;
                        width:93%;
                        overflow: hidden;
                        //white-space: nowrap;
                        a{
                            padding-right:0;
                        }
                        .lock{
                            flex:none;
                            width: 1.3rem;
                            height: 1.6rem;
                            margin-left: 1rem;
                            background: url(../image/sub/icon-lock.png) no-repeat center;
                            background-size: 1.3rem 1.6rem;
                        }
                    }
                    
                }
                &.file{
                    @include d-flex;
                    i{
                        display: inline-block;
                        width:2.3rem;
                        height:2.1rem;
                        background: url(../image/sub/icon-file.png) no-repeat center;
                        background-size: cover;
                    }
                }
                a{
                    font-size: 1.8rem;
                }
            }
        }
        tbody{
            tr{
                border-bottom:1px solid #e4e4e4;
                td{
                    height:7.5rem;
                    padding:1rem;
                }
            }
        }
        &.ver{
            tbody{
                th, td{
                    height: 7rem;
                }
                th{
                    padding:0 3rem;
                    text-align:right;
                    background: #f4f6f1;
                    border-right:1px solid #b7b7b7;
                    font-weight: 500;
                }
                td{
                    padding-left:2.5rem;
                    
                }
            }
        }
        &.tdBorder{
            .table{
                position:relative;
                margin-bottom: 0;
                &::before{
                    position:absolute;
                    top: 0;
                    right:-1px;
                    width: 1.1px;
                    height: 100%;
                    background: #ffffff;
                    content: "";
                }
            }
            thead{
                th{
                    border-right:1px solid #dcdcdc;
                }
            }
            tbody{
                td{
                    border-right:1px solid #dcdcdc;
                }
            }
            ul{
                padding:0rem 1.3rem;
                text-align: left;
                li{
                    //display: inline-block;
                    position:relative;
                    padding-left:1rem;
                    line-height: 3.4rem;
                    font-size: 1.8rem;
                    &::before{
                        position:absolute;
                        top:1.6rem;
                        left:0;
                        width:2px;
                        height:2px;
                        background: #000000;
                        content:""
                    }
                }
                &.list{
                    &-dashed{
                        padding:0;
                        li{
                            line-height: 2.5rem;
                            &::before{
                                width:.5rem;
                                height: 1px;
                            }
                        }
                    }
                }
            }
        }
        &.pd-25{
            tbody{
                tr{
                    td{
                        padding:2.5rem 1rem;
                        line-height: 2.5rem;
                    }
                }
            }
        }
    }
    &-title{
        margin-bottom: 3.5rem;
        font: {
            size:3.2rem;
            weight:500;
        }
        text-align: center;
    }
}

.board{
    &-view{
        .view{
            &-header{
                padding:4rem 3rem;
                border-top:1px solid #000000;
                border-bottom:1px solid #e4e4e4;
                >div{
                    width:100%;
                }
            }
            &-title{
                font: {
                    size:3rem;
                    weight:500;
                }
                color:#222222;
                text-align: center;
            }
            &-info{
                @include justify-center;
                margin-top: 4rem;
                *{
                    font-size:1.7rem;
                    color:#555555;
                    line-height: normal;
                }
                >*{
                    &+*{
                        position:relative;
                        padding-left: 5rem;
                        &::before{
                            position:absolute;
                            top: 0.5rem;
                            left: 2.5rem;
                            width:1px;
                            height:1.5rem;
                            background:#777777;
                            content:""
                        }
                    }
                }
            }
            &-content{
                font-size: 1.8rem;
                border-top:1px solid #e4e4e4;
                border-bottom:1px solid #000000;
            }
            &-file{
                &+.view-file{
                    border-top:1px solid #e4e4e4;
                }
                padding:2.5rem 3rem ;
                >div{
                    >p{
                        line-height: normal;
                    }
                }
                *{
                    font-size:1.7rem;
                    color:#555555;
                    
                }
                .file-list{
                    //margin-top: -.3rem;
                    margin-left: .3rem;
                }
                a{
                    font-size:1.7rem;
                    color:#3f8501
                }
            }
            &-content{
                padding:4rem 3rem;
            }
        }
    }
    &-prevnext{
        .badge{
            @include d-flex;
            width:6.1rem;
            height:2.5rem;
            margin-right: 3rem;
            font-size:1.2rem;
            color:#222222;
            border:1px solid #cbcbcb;
            border-radius: .3rem;
            flex:none;
        }
        >div{
            padding:2.5rem 3rem;
            border-bottom:1px solid #e4e4e4;
            a{
                font-size:1.8rem;
                color:#333333;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
            }
        }
    }
}

.button{
    &-wrap{
        @include display-flex;
        justify-content: flex-end;
        margin: -.15rem;
        button{
            width: 11.3rem;
            height: 4.3rem;
            margin: .15rem;
            font-size: 1.6rem;
            color: #ffffff;
            &.button{
                &-border{
                    color:#555555;
                    background: #f9f9f9;
                    border:1px solid #cccccc;
                }
                &-gray{
                    background: #aeaeae;
                }
                &-deepgray{
                    background: #6a6a6a;
                }
                &-green{
                    background: #3f8501;
                    
                }
            }
            &.w{
                &-auto{
                    padding:0 3.38rem;
                }
            }
        }
    }
}

.form{
    &-group{
        margin-bottom: 0;
        input{
            height:5rem;
            font-size: 1.6rem;
            &.w{
                &-330{
                    width:33rem;
                }
                &-500{
                    width:50rem;
                }
            }
        }
        textarea{
            width: 100%; 
            height: 20rem; 
            border: .1rem solid #dddddd; 
            resize: unset; 
            border-radius:0; 
            -webkit-appearance: none;
        }
    }
    &-check{
        position: relative; padding-left: 0;
        input[type='checkbox']{
            position: absolute; 
            width: 1px; 
            height: 1px; 
            padding: 0; 
            margin: -1px; 
            overflow: hidden; 
            clip: rect(0, 0, 0, 0); 
            border: 0;
            &+label{
                display: inline-block; 
                position: relative; 
                cursor: pointer; 
                font-size: 1.8rem; 
                color: #000000;
                &::before{
                    /* 가짜 체크박스 */ 
                    content: ' '; 
                    display: inline-block; 
                    width: 2.7rem; /* 체크박스의 너비를 지정 */ 
                    height: 2.7rem; /* 체크박스의 높이를 지정 */ 
                    margin: -.5rem .8rem 0 0; 
                    text-align: center; 
                    vertical-align: middle; 
                    border: 1px solid #c7cacd; 
                    border-radius: 0.3rem;
                }
            }
            &:checked{
                &+label{
                    color: #000;
                    &::before{
                        /* 체크박스를 체크했을때 */ 
                        content: ''; 
                        /* 체크표시 유니코드 사용 */ 
                        background: #fff url(../image/icon/icon-check.png) no-repeat center center; background-size: 2.3rem 1.7rem;
                    }
                }
            }
        }
        // .form-check input[type="checkbox"] + label:active:before, .form-check input[type="checkbox"]:checked + label:active:before { -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }
        &.circle{
            input[type='checkbox'] {
                &+label{
                    margin-bottom: 0;
                    &::before{
                        width:2rem;
                        height:2rem;
                        margin: -.3rem 1rem 0 0;
                        border-radius:100%;
                        
                    }
                }
                &:checked{
                    &+label{
                        color: #000;
                        &::before{
                            background: #3f8501;
                            border-color: #3f8501;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            left: 0.5rem;
                            width: 1rem;
                            height: 1rem;
                            background: #ffffff;
                            border-radius: 100%;
                            top: 50%;
                            -webkit-transform: translateY(-50%);
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }

    }
}

/* ridiobox */
.checks { 
    position: relative; 
    p{
        margin-right: 4rem; font-size: 1.8rem;
    }
    input[type="radio"]{
        position: absolute; 
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px; 
        overflow: hidden; 
        clip: rect(0, 0, 0, 0); 
        border: 0;
        &+label{
            display: inline-block; 
            position: relative; 
            padding-left: 3rem; 
            margin-right: 4rem; 
            margin-bottom: 0; 
            cursor: pointer; 
            -webkit-user-select: none; 
            -moz-user-select: none; 
            -ms-user-select: none; 
            user-select: none; 
            font-size: 1.8rem;
            &::before{
                content: ''; 
                position: absolute; 
                left: 0; 
                top: 4px; 
                width: 2rem; 
                height: 2rem; 
                text-align: center; 
                background: #fff; 
                border-radius: 100%; top: 50%;
                transform: translateY(-50%);
                border:.1rem solid #c7cacd;
            }
        }
        &:checked{
            &+label{
                &:before{
                    background: #3f8501;
                    border-color:#3f8501
                }
                &:after{
                    content: ''; 
                    position: absolute; 
                    left: .5rem; 
                    width: 1rem; 
                    height: 1rem; 
                    background: #ffffff; 
                    border-radius: 100%; 
                    // -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); 
                    // box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3); 
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}


.filebox {
    input[type="file"] {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip:rect(0,0,0,0);
        border: 0;
    }
    label {
        @include d-flex;
        width:11.3rem;
        height:5rem;
        margin-left: 1rem;
        color: #999;
        font-size: 1.6rem;
        color:#555555;
        background-color: #f9f9f9;
        cursor: pointer;
        border: 1px solid #cecece;
        
        
    }
    .upload-name {
        display: inline-block;
        font-size: inherit;
        font-family: inherit;
        line-height: normal;
        vertical-align: middle;
        background: #ffffff;
        border: 1px solid #dddddd;
        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

.c{
    &_light_green{
        color:#3f8501
    }
    &_red{
        color:#eb0000;
    }
    &_gray{
        color:#555555;
    }
    &_blue{
        color:#0251bc;
        &:hover{
            color:#0251bc;
        }
    }
}

.font{
    &-20{
        font-size: 2rem !important;
    }
    &-weight{
        &_r{
            font-weight: 500;
            *{
                font-weight: 500;
            }
        }
    }
}

.des{
    &-wrap{
        margin-top: 2.5rem;
    }
    font-size: 1.8rem;
    &+.des{
        margin-top: .5rem;
    }
}


/* 인사말 */ 
.greeting{
    &-top{
        position:relative;
        // >div{
        //     flex:1;
        // }
        &::before{
            position:absolute;
            top: 8.2rem;
            right:0;
            width:calc(100% - 8rem);
            height:calc(100% - 6rem);
            background:#f7f7f7;
            content:"";
            z-index:-1;
        }
        .img-wrap{
            img{
                max-width: 100%;
            }
        }
        .text{
            &__inner{
                padding-top:15rem;
                padding-left:9rem;
                .top{
                    font : {
                        size:3.4rem;
                        weight:200;
                    }
                    line-height: 5.4rem;
                    strong{
                        font : {
                            size:3.8rem;
                            weight:500;
                        }
                    }
                }
                .bottom{
                    padding-top:3rem;
                    font-size:2.2rem;
                    font-weight: 400;
                    line-height: 3.4rem;
                    color:#4e811f;
                }
            }
        }
    }
    &-bottom{
        padding-top:6rem;
        font : {
            size:2rem;
            
        }
        line-height:3.8rem;
        .name{
            font : {
                size:2.4rem;
                weight:400;
            } 
            strong{
                font : {
                    size:3.2rem;
                    weight:500;
                }   
            }
        }
    }
}

/* 교육안내 */ 

/* 오리엔테이션 */ 
.ori{
    >p{
        &+p{
            margin-top: 2rem;
        }
    }
    &-img{
        @include display-flex;
        @include justify-center;
        margin-top: 6rem;
        padding: 6rem 0;
        background: #f7f7f7;
        .img-wrap{
            padding:0 1rem;
            img{
                width:100%;
            }
        }
    }
    .sub-title2{
        margin-bottom: 2rem;
    }
}

/* 현장탐방 */ 
.location{
    ul{
        margin:0 -1.8rem;
        li{
            padding:0 1.8rem;
            font-size:1.7rem;
            color:#555555;
            &+li{
                position:relative;
                &::before{
                    position:absolute;
                    left:-.3rem;
                    top:50%;
                    width:.6rem;
                    height:1rem;
                    background:url(../image/sub/icon-location.png) no-repeat center;
                    content:"";
                    background-size: cover;
                    transform: translateY(-50%);
                }
            }
        }
    }
}

/* tab */ 
.tab { 
    @include d-flex;
    width: 100%; 
    //background: #f0f0f0; 
    li{
        @include d-flex;
        flex:1;
        height:7rem;
        background: #f3f4f2;
        color:#555555;
        font-size:1.8rem;
        cursor: pointer;
        &.current{
            position: relative; 
            color: #004690;
            box-shadow: 5px 3.5px 10px 0 rgba(15, 35, 0, 0.2);
            border: solid 2px #3f8501;
            background-color: #fff;
            z-index: 1;
            font-size: 2rem;
            color:#3f8501;
            font-weight: 500;
            // a{
            //     @include d-flex;
            //     color:#3f8501;
            // }
        }
        &+li{
            margin-left: 1px
        }
        a{
            @include d-flex;
            width: 100%; 
            height: 100%;
           
        }
    }
    &content{
        display: none;
        margin-top: 6rem;
        &.current{
            display: block;
        }
    }
    &-content{
        height: auto;
    }
}
.ps{
    font-size:1.6rem;
    color:#666666;
}


.history{
    &__inner{
        margin: -6rem 0;
        margin-bottom: 0rem;
        dl{
            @include display-flex;
            padding:6rem 0;
            border-bottom:1px solid #dcdcdc;
            dt{
                display: inline-block;
                margin-right: 8rem;
                font: {
                    size:4.5rem;
                    weight:500;
                }
                color:#3f8501;
                line-height: 100%;
            }
            dd{
                padding-top: 1.5rem;
                li{
                    @include display-flex;
                    
                    p:not(.lists){
                        flex: none;
                        width:11.5rem;
                        font-weight: 500;
                        line-height: 2.5rem;
                    }
                    &+li{
                        margin-top: 3rem;
                    }
                }
            }
        }
        .lists{
            ul{
                li{
                    position: relative;
                    padding-left:1rem;
                    font-size: 1.8rem;
                    &::before{
                        position: absolute;
                        top: 1.2rem;
                        left:0;
                        width:2px;
                        height:2px;
                        background: #000;
                        border-radius: 100%;
                        content:""
                    }
                    
                }
            }
        }
    }
}


/* 교육마을 위치 */ 
.town{
    &-info{
        &__inner{
            @include display-flex;
            @include align-center;
            padding:3.8rem 6rem;
            background: #f8f8f8;
            
        }
        ul{
            width:100%;
            justify-content: space-between;
            @include flex-wrap;
            li{
                @include display-flex;
                p{
                    font : {
                        size: 1.8rem;
                    }
                    &:first-child{
                        @include display-flex;
                        @include align-center;
                        margin-right: 2rem;
                        font : {
                            size: 2rem;
                            weight: 500;
                        }
                    }
                    a{
                        font-size: 1.8rem;
                    }
                }
                i{
                    display: inline-block;
                    margin-right: 1rem;
                    background-size: cover;
                }
            }
        }
    }
    &-address{
        i{
            width: 1.5rem;
            height: 2rem;
            background: url(../image/sub/icon-add.png) no-repeat;
        }
    }
    &-tel{
        i{
            width: 1.7rem;
            height: 1.7rem;
            background: url(../image/sub/icon-tel.png) no-repeat;
        }
    }
    &-fax{
        i{
            width: 2rem;
            height: 2rem;
            background: url(../image/sub/icon-fax.png) no-repeat;
        }
    }
    &-mail{
        i{
            width: 2.2rem;
            height: 1.5rem;
            background: url(../image/sub/icon-mail.png) no-repeat;
        }
    }
}

/* 창립선언문 */ 
.declare{
    &__inner{
        width: calc(100% - 12rem);
        margin: 0 auto;
        background: url(../image/sub/bg-declare.png) no-repeat top center;
        background-size: 100% 100%;

    }
    &-content{
        padding:13rem 11.5rem 11rem 9rem;
        .tit{
            margin-bottom: 8.5rem;
            font : {
                size:2.6rem;
                weight: 500;
            }
            line-height: 100%;
        }
    }
    &-body{
        font-size:1.8rem;
        line-height: 3.4rem;
        *{
            font-size:1.8rem;
            font-weight: 500;
        }
    }
    &-footer{
        margin-top:9rem;
        .date{
            margin-bottom:3rem;
            font-size: 1.8rem;
            line-height: 100%;
        }
        font : {
            size: 2.2rem;
            weight:500;
        }
    }
    &__mobile{
        display: none;
    }
}

/* 교육시설 */ 
.fac{
    &__inner{
        .img-wrap{
            p{
                margin-top: 1.5rem;
                font-size: 1.6rem;
                text-align: center;
                line-height: normal;
                span{
                    font-size: 1.6rem;
                }
            }
        }
    }
    &-top{
        &__right{
            flex:1;
            margin-top: 5rem;
            margin-left: 7rem;
        }
        .img-wrap{
            flex:1;
            img{
                max-width: 100%;
            }
        }
        &__img{
            >div{
                margin: -1.5rem;
            }
            .img-wrap{
                img{
                    width: 100%;
                    padding:1.5rem;
                }
            }
        }
        &.item2{
            >div{
                margin: -2.5rem;
            }
            .img-wrap{
                padding: 2.5rem;
            }
        }
    }
    &-title{
        margin-bottom: 2rem;
        font : {
            size: 3rem;
            weight:500;
        }
        span{
            font : {
                size: 3rem;
                //weight:500;
            }
        }
    }
    &-des{
        font : {
            size: 1.8rem;
        }
        line-height: 3.2rem;
        word-break: keep-all;
        *{
            font : {
                size: 1.8rem;
            }
            line-height: 3.2rem;
        }
    }
    &-bottom{
        &__inner{
            position:relative;
            padding:6rem 0;
            margin-top: 10rem;
            margin-left: -1.1rem;
            margin-right: -1.1rem;
            justify-content: space-between;
            background: #f7f7f7;
            &::before{
                position:absolute;
                top:0;
                left: -100%;
                width:300%;
                height: 100%;
                background: #f7f7f7;
                content:"";
                z-index: -1;
            }
            .img-wrap{
                flex:1;
                img{
                    max-width: 100%;
                    padding: 0 1.1rem;
                }
            }
            &.item4{
                .item4__inner{
                    @include flex-wrap;
                    margin: -2.5rem;
                    .img-wrap{
                        width: 50%;
                        flex:none;
                        padding:2.5rem;
                        img{
                            width:100%;
                            padding:0;
                        }
                    }
                }
            }
            .item5__inner{
                @include flex-wrap;
                margin: -1.1rem;
                .img-wrap{
                    flex:none;
                    width: calc(100% / 3);
                    img{
                        padding:1.1rem;
                    }
                }
            }
        }
    }
}



/*=================================================================================================
============================================ responsive ========================================
================================================================================================*/ 

@media screen and(max-width:720px) {
    .list-gallery{
        ul{
            li{
                width: calc(100% / 2);
                a{
                    margin:1.5rem 1rem;
                }
            }
        }
    }
    .sub{
        &-content{
            &__inner{
                padding: {
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
    }
    .table-wrap{
        &.ver{
            .table{
                table-layout: fixed;
                colgroup{
                    col{
                        &:nth-child(1){
                            width:14rem;
                        }
                    }
                }
            }
        }
    }
    .table-wrap:not(.ver){
        position:relative;
        overflow-x: scroll;
        &::before{
            @include d-flex;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.48);
            color: #ffffff;
            font-size: 2rem;
            content: "표를 밀어보세요";
            z-index: 1;
        }
        &.scroll{
            &::before{
                display: none;
            }
        }
        
        .table{
            width:720px;
        }
    }
    .security{
        >div:not(.captcha){
            flex:1;
            &.form-group{
                input{
                    width:100%;
                }
            }
        }
    }

    .history{
        &__inner{
            margin: -6rem 0;
            dl{
                @include flex-column;
                dd{
                    padding-top:5rem;
                }
            }
        }
    }

    .town{
        &-info{
            ul{
                li{
                    &:not(:first-child){
                        width:50%;
                    }
                    p{
                        flex:none;
                    }
                }
            }
            &__inner{
                padding:3rem 4rem;
                li{
                    &+li{
                        padding-top:1rem;
                    }
                }
            }
        }
    }

    .tab{
        overflow-x: scroll;
        li{
            min-width:23rem;
        }
    }

    /* breadcrumb */ 
    .breadcrumb__inner {
        height: 9rem;
        .depth1, .depth2{
            flex:1;
            width:100%;
            a{
                font-size: 2.3rem;
            }
        }
    }

    /* 인사말 */ 
    .greeting{
        &-top{
            flex-direction: column;
            &::before{
                top:auto;
                bottom: 0;
                width:100%;
                height:65%;
            }
            .text{
                &__inner{
                    padding:3rem;
                }
            }
        }
    }

    /* 창립선언문 */ 
    .declare{
        &__inner{
            width: 100%;
        }
        &-content{
            display: none;
        }
        &__mobile{
            display: block;
        }
    }

    /* form */ 
    .filebox{
        label{
            flex:none;
        }
        .upload-name{
            &.w-500{
                width:100%;
            }
        }
    }

    /* 기본프로그램 */ 
    .ori {
        &-img {
            //@include flex-column;
            position: relative;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding: 2rem 1rem;
            margin-left: -1rem;
            margin-right: -1rem;
            background: transparent;

            &::before {
                position: absolute;
                width: 300%;
                top: 0;
                left: -100%;
                height: 100%;
                background: #f7f7f7;
                content: "";
                z-index: -1;

            }

            .img-wrap {
                padding: 1rem ;
                width: 50%;
            }
        }
    }
    /* 시설안내 */ 
    .fac{
        &-top{
            >.d-flex{
                flex-direction: column;
            }
            &__right{
                margin-top: 0;
                margin-left: 0;
                margin-bottom: 5rem;
            }
            &__img{
                >div{
                    flex-direction: column;
                }
            }
        }
        &-bottom{
            &__inner{
                flex-direction: column;
                margin : {
                    top: 5rem;
                    left: 0;
                    right:0;
                }
                padding:3rem 0;
                .img-wrap{
                    &+.img-wrap{
                        margin-top: 5rem;
                    }
                    img{
                        width:100%;
                        padding: 0;
                    }
                }
                &.item4 .item4__inner .img-wrap{
                    margin-top: 0;
                }
                @for $i from 4 through 5 {
                    .item#{$i}{
                        &__inner{
                            flex-direction: column;
                            margin: -2.5rem;
                            .img-wrap{
                                width:100% !important;
                                img{
                                    padding:0 !important;
                                }
                            }
                        }    
                    }
                }
                .no-img{
                    display: none !important;
                }
            }
        }
        &-des{
            .mt_60{
                margin-top: 3rem;
            }
        }
    }

    /* 220510 디버깅 작업 */ 
    // .search{
    //     &-box{
    //         .form-select, .form-search{
    //             height: 5rem;
    //         }
    //     }
    // }
    .board{
        &-view{
            .view{
                &-info{
                    >*{
                        &+*{
                            &::before{
                                top:.2rem;
                            }
                        }
                    }
                }
                &-file{
                    padding-bottom:2rem;
                }
            }
        }
    }
    .root_daum_roughmap{
        .wrap_map{
            height:50rem !important;
        }
    }
    .button-wrap{
        button{
            height: 5rem;
        }
    }
}

@media screen and(max-width:425px){
    .list{
        &-bottom{
            &__inner{
                display: flex;
                flex-direction: column-reverse;
                .button-wrap{
                    position:unset;
                    margin-bottom: 2rem;
                }
            }
        }
    }
}