//svg icon
@function icon($iconName, $color:ff0077){
    $iconList: (
        arrow__top-fill: " %3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='6'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='m4.5-.001 4.5 6H0l4.5-6Z'/%3E%3C/svg%3E",
        arrow-fill__bottom: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='m5.997 8.005-6-7.994h11.999L5.997 8.005Z'/%3E%3C/svg%3E",
        arrow-fill__right: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='15'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M10 7.498 0-.001v14.999l10-7.5Z'/%3E%3C/svg%3E",
        close : "%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='m12.864 12.156-.707.707L6.5 7.206.843 12.863l-.707-.707 5.657-5.657L.136.841.843.134 6.5 5.792 12.157.134l.707.707-5.657 5.658 5.657 5.657Z'/%3E%3C/svg%3E",
        close_big: "%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='m25.531 25.047-.983.983L13 14.482 1.451 26.03l-.982-.983 11.548-11.548L.469 1.951l.982-.983L13 12.516 24.548.968l.983.983-11.548 11.548 11.548 11.548Z'/%3E%3C/svg%3E",
        arrow-left: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.5' height='21.5'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' fill='rgb(255, 255, 255)' d='M13.509 1.361 1.777 10.396l11.586 9.233-.305.876-11.995-9.559-.261.201-.311-.866.354-.273.097-.278.129.104L13.198.495l.311.866Z'/%3E%3C/svg%3E",
        arrow-link: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='10'%3E%3Cpath fill-rule='evenodd' fill='%23#{$color}' d='M16 10H0V9h14.293L6.646 1.353l.707-.707 8 8L15 9h1v1Z'/%3E%3C/svg%3E",
        paging-first: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='10'%3E%3Cpath fill-rule='evenodd' fill='rgb(153, 153, 153)' d='M11.539 5.398 19.531.876v9.043l-7.992-4.521ZM8.53.876v9.043L.539 5.398 8.53.876Z'/%3E%3C/svg%3E",
        paging-prev: "%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='10'%3E%3Cpath fill-rule='evenodd' fill='rgb(153, 153, 153)' d='M.539 5.398 8.53 9.919V.876L.539 5.398'/%3E%3C/svg%3E"
    );
    $icon: map-get($iconList, $iconName );
    @return url("data:image/svg+xml;charset=utf8, #{$icon}");
}


.icon {
    display: block;
    width:1.5rem; 
    height:1.3rem;
    background-repeat: no-repeat;
    &.arrow{
        &-fill{
            background-image: icon(arrow__top-fill);
            &__bottom{
                background-image: icon(arrow-fill__bottom);
            }
            &__right{
                background-image: icon(arrow-fill__right);
            }
            &__white{
                width:2.1rem;
                width:1.5rem;
                background: {
                    image: icon(arrow__bottom-fill, 'ffffff');
                    size: 100%;
                    repeat: no-repeat;
                    position:center;
                } ;
                
            }
            &__gray{
                width:2.1rem;
                width:1.5rem;
                background: {
                    image: icon(arrow__bottom-fill, 'cccccc');
                    size: 100%;
                    repeat: no-repeat;
                    position:center;
                } ;
            }
            &__dgray{
                width:1.5rem;
                width:1.3rem;
                background: {
                    image: icon(arrow__bottom-fill, '78838c');
                    size: 100%;
                    repeat: no-repeat;
                    position:center;
                } ;
            }
        }
        &-round{background-image: icon(arrow-round);}
        &-back{background-image: icon(arrow-back); }
        &-top{background-image: icon(arrow-top);}
        &-left{background-image: icon(arrow-left);}
        &-first{background-image: icon(arrow-first, '747478');}
        &-last{background-image: icon(arrow-first, '747478'); transform: rotate(180deg);}
        &-prev{background-image: icon(arrow-prev, '747478');background-size: cover;}
        &-next{background-image: icon(arrow-prev, '747478');background-size: cover; transform: rotate(180deg);}
        &-right{background-image: icon(arrow-right);}
        &-more{background-image: icon(arrow-more);}
    }
    &.close{
        width: 13px;
        height: 13px;
        background-image: icon(close, '000');
        &_big{
            background-image: icon(close_big, '000');
        }
    }
    
}
.sitemap-close{
    background-image: icon(sitemap-close, 'fff');
}
